* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

nav {
    padding: 12px 0 12px 0 ;
    height: 64px;
    color: #fff;
    background-color: #000;
}

.container {
    justify-content: space-between;
    display: flex;
    padding: 0 64px 0 64px;
    height: 40px;
    max-width: 1400px;
    margin: auto;
}

nav .div-01 {
    display: flex;
}

.title {
    font-size: 24px;
    padding: 4px 12px 0 12px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 4px;
}

li {
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 500;
    /* border: 1px solid white; */
    border-radius: 30px;
}

#cadastro-button {
    background-color: #fff;
    color: #000;
}

button {
    border: none;
    background-color: #000;
    color: #fff;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.section-01 {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #000;
}

.cnt-section-01 {
    display: flex;
    padding: 64px;
    max-width: 1280px;
}

.content-section-01 {
    margin: auto;
}

h1 {
    font-size: 52px;
    margin-bottom: 32px;
}

.input-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    background-color: #fff;
    padding: 12px;
    border-radius: 8px;
    max-width: 400px;
}

input {
    border: none;
    padding: 0 10px;
    max-width: 400px;
}

.ver-button {
    background-color: #fff;
    color: #000;
    padding: 12px;
    border-radius: 8px;
    margin-top: 24px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.section-02 {
    display: flex;
    justify-content: center;
}

.cnt-section-02 {
    display: flex;
    gap: 120px;
    padding: 64px;
    max-width: 1280px;
}

.content-section-02 {
    margin: auto;
}

h2 {
    font-size: 48px;
    margin-bottom: 32px;
}

.button-wrapper {
    margin-top: 20px;
    display: flex;
    gap: 24px;
}

.span-text {
    font-size: 16px;
    line-height: 24px;
}

.start-button {
    padding: 12px;
    border-radius: 8px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.other-button {
    background-color: #fff;
    color: #000;
    font-size: 16px;
    border-bottom: 5px solid rgb(203, 203, 203);
    padding-bottom: 0;
}

.section-03 {
    display: flex;
    justify-content: center;
    color: #000;
    background-color: #fff;
}

.section-03 h2 {
    color: #333333;
}

.cnt-section-03 {
    display: flex;
    gap: 100px;
    padding: 64px;
    max-width: 1280px;
}

.section-qrs {
    display: flex;
    justify-content: center;
    color: #000;
    background-color: #F6F6F6;
    padding-bottom: 72px;
}

.cnt-section-qrs {
    display: flex;
    flex-direction: column;
}

.cnt-section-qrs h2 {
    font-size: 32px;
    margin-top: 72px;
    margin-bottom: 52px;
}

.qrs {
    display: flex;
    gap: 36px;
}

.qr {
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 24px;
    background-color: #fff;
}