* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}


nav {
    padding: 12px 0 12px 0 ;
    height: 64px;
}

.container {
    justify-content: space-between;
    display: flex;
    padding: 0 64px 0 64px;
    height: 40px;
    max-width: 1400px;
    margin: auto;
}

nav .div-01 {
    display: flex;
}

.title {
    font-size: 24px;
    padding: 4px 12px 0 12px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 4px;
}

li {
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 500;
    /* border: 1px solid white; */
    border-radius: 30px;
}

#cadastro-button {
    background-color: #fff;
    color: #000;
}

button {
    border: none;
    background-color: #000;
    color: #fff;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.section-01 {
    display: flex;
    justify-content: center;
}

.cnt-section-01 {
    display: flex;
    padding: 64px;
    max-width: 1280px;
}

.content {
    margin: auto;
}

h1 {
    font-size: 52px;
    margin-bottom: 32px;
}

.input-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    background-color: #fff;
    padding: 12px;
    border-radius: 8px;
    max-width: 400px;
}

input {
    border: none;
    padding: 0 10px;
    max-width: 400px;
}

.ver-button {
    background-color: #fff;
    color: #000;
    padding: 12px;
    border-radius: 8px;
    margin-top: 24px;
}